/**
 * Hide the menu item from the web module since this module only makes sense
 * when being invoked from the clickmenu.

 * Or does it?

 * I'm re-enabling it because of bug https://forge.typo3.org/issues/59968

#typo3-menu #web_PagewizardTxPagewizard {
	display: none;
}
 */

.nobr img {
	vertical-align: middle;
}

table.typo3-TCEforms .class-main2 td td {
	border-top: none;
}

.treeRadio {
	margin-right: 5px;
}

li.copyMode {
	margin: 4px 0;
}